body{
	margin:auto;
	font-family: 'Nunito Sans', sans-serif;
	background : #e0e0e0;
	text-shadow:  8px 8px 16px #9b9b9b,-8px -8px 16px #ffffff;
}
::selection{
	color:white;
	background:grey;
}
/*GAME*/
table {
	z-index : 1;
	border-collapse: collapse;
	margin:auto;
}
td {	
	display: table-cell;
	border : solid 1px black;
	width: 70px;
	height:70px;
}

.grass{
	background-color:#55a630;
	color: black;
	width: 50px;
	height: 50px;
	vertical-align: center;
}
.pawnBlue{
	background-color:#00296b;
	color: black;
	width: 50px;
	height: 50px;
	vertical-align: center;
	text-align: center;
}
.pawnRed{
	background-color:#9d0208;
	color: black;
	width: 50px;
	height: 50px;
	vertical-align: center;
	text-align: center;
}
.lake{
	background-color:#a8e0ff;
	color: black;
	width: 50px;
	height: 50px;
	vertical-align: center;
}
