body{
	margin:auto;
	font-family: 'Nunito Sans', sans-serif;
	background : #e0e0e0;
	text-shadow:  8px 8px 16px #9b9b9b,-8px -8px 16px #ffffff;
	
}
*{
	list-style-type: none;
}
::selection{
	color:white;
	background:grey;
}


/*HUD*/
#gameScreen{
	display:flex;
	height:100vh;
	flex-flow:row wrap;
	justify-content: center;
	align-items:center;
}

#hud{
	margin : 20px;
	width:75vh;
	border-radius: 25px;
	background-color:rgb(216, 224, 240);
	padding:10px 30px 10px 30px;
	flex-grow:1;
	align-items:center;
	overflow:auto;
}
#game{
	flex-grow:20;
}

.Random-Composition{
	display:flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
#random, #clear{
	margin-bottom:10px;
}


#pawn-container{
	display:flex;
	flex-flow : row wrap;
	justify-content: center;
	padding:0;
}
.pawn-item{
	background:white;
	width:50px;
	height:50px;
	font-weight:bold;
	text-align:center;
	font-size:2rem;
	margin:10px;
	border-radius: 10px;
	text-shadow:none;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transition-duration:0.5s;
	color:rgba(0, 0, 0, 0);
}
#amount{	
	font-size:20px;
	margin-top:-47px;
}
#nom{	
	font-size:10px;
	text-overflow:ellipsis;
	overflow:hidden;
	color:rgb(80, 80, 80);
	margin-top:-5px;
}
li:hover #nom{
	color:black;
}

li:hover{
	color:white;
	cursor:grab;
}

.pawn-item:hover{
	transition-duration:0.2s;
	background:#3b3b3b;
	color:white;
	transform:scale(1.05);
}
.pawn-item:active{
	background:white;
	color:black;
	transition-duration:0.5s;
}

#glow{
	animation: blinkInside 0.8s linear 10;
}
#grey{
	filter:grayscale(100%)
}

.perso{
	width:42px;
	text-align:center;
	pointer-events:none;
}



/*GAME*/
table#table{
	margin:auto;
	border-radius:15px;
	overflow:hidden;
}
.myTurn{
	animation: blink 1s linear infinite;
}
td {	
	/*display: table-cell;*/
	width: 60px;
	height:60px;
	font-weight:bold;
	text-shadow:none;
}
.pawnImage{
	width:40px;
	height:40px;
}

/*CASES*/
.grass{
	background-color:#228b22;
	vertical-align: center;
}
.grassDark{
	background-color:#006400;
	vertical-align: center;
}
.pawnBlue, .pawnRed{
	width:50px;
	height:50px;
	margin:auto;
	padding:0;
	vertical-align: center;
	text-align: center;
	color:transparent;
	transition-duration:0.5s ;	
	z-index: 100;
	border-radius:15px;
	box-shadow:0 0 7px rgba(0, 0, 0, 0.575);
}
.pawnBlue{
	background:#428bff;
}
.pawnRed{
	background:#ff4b51;
}
.pawnBlue h3, .pawnRed h3{
	margin-top:-50px;
}
.pawnBlue:hover, .pawnRed:hover{
	color:white;
	transform: scale(0.95);
}


.lake{
	background-color:#61c8ff;
}

#pawn:hover{
	cursor:pointer;
}
.move,.attack{
	color:rgb(70, 70, 70);
	text-align:center;
	font-size:30px;
	cursor:pointer;
	transition-duration:10s;
}


/*WIN*/
#winScreen{
	width:400px;
	height:200px;
	margin:auto;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	padding:10px;
	border-radius: 20px;
	background: #ffffff;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#restartGame{
	margin:10px;
}


/*CONNECTION STATUS INDICATOR*/
.connected span,
.ready span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius:1rem;
  background: red;
  margin:auto 0.5rem auto auto;
}

span.green {
  background: green;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
	width: 20px;
}
  
::-webkit-scrollbar-track {
	background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}
  
::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
}

@keyframes blink {
    0% {  box-shadow: none; }
    50% { box-shadow: 0 0 0 10px #02a039;}
    100% { box-shadow:none; }
}
@keyframes blinkInside {
    0% { box-shadow: none;}
    50% { box-shadow:inset 0px 0px 20px rgba(255, 255, 255, 0.801); }
    100% { box-shadow:none; }
}

